@(title: String)(message: String)(kontodetails: List[KontoDetails])

<!DOCTYPE html>
<html>

<head>
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.min.css"
	rel="stylesheet" media="screen">
<link href="/assets/stylesheets/main.css" rel="stylesheet"
	media="screen">

<link
	href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<link href="/assets/stylesheets/own.css" rel="stylesheet" media="screen">

<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('article');
	document.createElement('footer');
</script>


<script type="text/javascript">

	/*function password_aender(){
		document.getElementById('kontoeinstellungen_ps_wdh').innerHTML = "<div>
			<div class='input-group'>
		<span class='input-group-addon'>neues Passwort:
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type='password'
			class='form-control' name='kontoeinstellungen_pssneu' value=''>
	</div>
</div>";
		
		
		

		
		
			
		
		//kontoPassword.appendChild(dc);
			
	}*/


</script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<header>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">ProTramp Mitfahrgelegenheit</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Suche</a></li>
						<li><a href="#">&Uuml;ber uns</a></li> @if(message) {
						<li class="active"><a href="/konto/index">Konto</a></li> } else {
						<li><a href="/registrierung">Registrierung</a></li> }

					</ul>

					@if(message) {
					<div class="login_form">
						<!-- <span>Sie sind angemeldet als @message</span> -->
						<form class="form-inline" method="POST"
							action="/benutzerlogin/logout">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2"></label> <a
									class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Willkommen,
									@message</a>&nbsp;&nbsp;&nbsp;&nbsp;
							</div>

							<button type="submit" class="btn btn-primary">Logout</button>
						</form>
					</div>

					} else {
					<div class="login_form">
						<!-- Hier ist das Formular für den Login -->
						<form class="form-inline" role="form" method="POST"
							action="/benutzerlogin/login">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">E-Mail
									address</label> <input type="text" class="form-control"
									id="exampleInputEmail2" name="nutzer"
									placeholder="Email oder Username" required>
							</div>

							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword2">Password</label>
								<input type="password" class="form-control"
									id="exampleInputPassword2" name="kennwort"
									placeholder="Password">
							</div>

							<div class="checkbox">
								<label class="checkbox_login" for="checkbox_login_name">
									<input type="checkbox" name="checkbox_login_name">Speichern&nbsp;&nbsp;
								</label>
							</div>

							<button type="submit" class="btn btn-primary">Einloggen</button>
						</form>
					</div>

					}






				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar -->

	</header>


	<div class="box_konto">
		@for(i <- kontodetails) {
		<div>
			<div class="input-group">
				<span class="input-group-addon">Registriert seit:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type="text"
					class="form-control" name="kontoeinstellungen"
					value=@i.registrierungsdatum readonly>
			</div>
		</div>
		<br>
		<div>
			<div class="input-group">
				<span class="input-group-addon">Username:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;</span> <input type="text" class="form-control"
					name="kontoeinstellungen" value=@i.username readonly>
			</div>
		</div>
		<br>
		<div>
			<div class="input-group">
				<span class="input-group-addon">Email:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input
					type="text" class="form-control" name="kontoeinstellungen"
					value=@i.email readonly>
			</div>
		</div>
		<br> <br>
		<div>
			<div class="input-group">
				<span class="input-group-addon">Passwort:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type="password"
					class="form-control" name="kontoeinstellungen_pss" placeholder="Altes Passwort" value="">
			</div>

		</div>
		<br>









		<div>
			<div class="input-group">
				<span class="input-group-addon">neues Passwort:
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type="password"
					class="form-control" name="kontoeinstellungen_pssneu" value="">
			</div>
		</div>
		<br>
		<div>
			<div class="input-group">
				<span class="input-group-addon">neues Passwort wdh: </span> <input
					type="password" class="form-control"
					name="kontoeinstellungen_pssneuwdh" value="">
			</div>
		</div>
		}


	</div>



	<div class="konto_button">
		<button class="btn btn-primary">ändern</button>
	</div>


</body>
</html>