.background_box {position: absolute; width:72%; height: 100%; left: 14%}
.box_konto {position: absolute; width: 20%; height : 25%; left: 40%; top:18%}
.konto_button {position: absolute; width: 50px; height :10px; left: 95%; top: 41.5%}
.box_ortsuche {position: absolute; width: 300px; height: 250px; left: 40%; top: 17%}
.mfg_details {position: absolute; width: 300px; height: 250px; left: 40%; top: 18%}
.box_ortsuche_eingelogged {position: absolute; width: 16%; height: 25%; left: 42%; top: 18%}
.box_registrierung {position: absolute; width: 20%; height: 85%; left: 40%; top: 14%}
.checkbox_login {color:#FFFFFF}
.login_form {position: absolute; width: 34%; height: 10px; left: 49%; top: 15%}
.menue_anwendung {position: absolute; width: 15%; height:20%; left: 20%; top: 20%}
.position_links {left: 0%}
header, nav, footer, article {display: block} 
nav {float:left; width:20%}
article {float:right; width:79%}
footer {clear:both}
a:hover {text-decoration: none}
.anzeige_details{position: absolute; width: 24%; height: 40%; left: 38%; top: 20%}
.anzeige_details_2 {position: absolute; width: 24%; height: 33%; left: 38%; top: 20%}
.anfragen_box {position: absolute; width: 500px; height: 250px; left: 44%; top: 20%}
.nachrichten_box {position: absolute; width: 24%; height : 35%; left: 40%; top:18.5%}
.infokarte {position: absolute; width: 60%; height: 60%; left: 20%; top: 20%}
.info_text {position: absolute; width: 20%; height: 10%; left: 20%; top: 12%}
.map_canvas_seitenposition {position: absolute; width: 30%; height: 61%; left: 64%; top: 17%}
.eingabe_map_canvas {position: absolute; width: 400px; height: 250px; left: 68%; top: 90%}
.fb_login {position: absolute; width: 88px; height: 40px; left: 80%; top: 15%}

.fblog_position {position: absolute; width: 88px; height: 40px; left: 80%; top: 15%}