.background_box {position: absolute; width:72%; height: 100%; left: 14%}
.box_konto {position: absolute; width: 400px; height : 300px; left: 36%; top:18%}
.konto_button {position: absolute; width: 50px; height :10px; left: 95%; top: 41.5%}
.box_ortsuche {position: absolute; width: 300px; height: 250px; left: 40%; top: 18%}
.mfg_details {position: absolute; width: 300px; height: 250px; left: 40%; top: 18%}
.box_ortsuche_eingelogged {position: absolute; width: 300px; height: 250px; left: 48%; top: 18%}
.box_registrierung {position: absolute; width: 350px; height: 750px; left: 39%; top: 14%}
.checkbox_login {color:#FFFFFF}
.login_form {position: absolute; width: 630px; height: 10px; left: 48%; top: 15%}
.menue_anwendung {position: absolute; width: 300px; 350px; left: 20%; top: 20%}
.position_links {left: 0%}
header, nav, footer, article {display: block} 
nav {float:left; width:20%}
article {float:right; width:79%}
footer {clear:both}
a:hover {text-decoration: none}
.anzeige_details{position: absolute; width: 400px; height: 250px; left: 44%; top: 20%}