@(title: String)(message: String)(info: String)(typ: String)(zaehler: List[Zaehler])

<!DOCTYPE html>
<html>

<head>
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.min.css"
	rel="stylesheet" media="screen">
<link href="/assets/stylesheets/main.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/own.css" rel="stylesheet" media="screen">

<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('article');
	document.createElement('footer');
</script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<header>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">ProTramp Mitfahrgelegenheit</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Suche</a></li>
						<li><a href="#">&Uuml;ber uns</a></li> @if(message) {
						<li><a href="/konto/index">Konto</a></li> } else {
						<li><a href="/registrierung">Registrierung</a></li> }

					</ul>

					@if(message) {
					<div class="login_form">
						<!-- <span>Sie sind angemeldet als @message</span> -->
						<form class="form-inline" method="POST"
							action="/benutzerlogin/logout">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2"></label> <a
									class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Willkommen,
									@message</a>&nbsp;&nbsp;&nbsp;&nbsp;
							</div>

							<button type="submit" class="btn btn-primary">Logout</button>
						</form>
					</div>

					} else {
					<div class="login_form">
						<!-- Hier ist das Formular für den Login -->
						<form class="form-inline" role="form" method="POST"
							action="/benutzerlogin/login">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">E-Mail
									address</label> <input type="text" class="form-control"
									id="exampleInputEmail2" name="nutzer"
									placeholder="Email oder Username" required>
							</div>

							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword2">Password</label>
								<input type="password" class="form-control"
									id="exampleInputPassword2" name="kennwort"
									placeholder="Password">
							</div>

							<div class="checkbox">
								<label class="checkbox_login" for="checkbox_login_name">
									<input type="checkbox" name="checkbox_login_name">Speichern&nbsp;&nbsp;
								</label>
							</div>

							<button type="submit" class="btn btn-primary">Einloggen</button>
						</form>
					</div>

					}






				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar -->

	</header>


	<article>




		<form method="POST" action="/anwendung/mfg_anbieten/anbieten">
			@if(message) {
			<div class="box_ortsuche_eingelogged">
				@if(info) {

				<div class="row">
					<br />
					<div class="alert alert-danger">@info</div>
				</div>

				} <br>

				<div>
					<div class="input-group">
						<span class="input-group-addon">Start:
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type="text"
							class="form-control" name="mfg_anbieten_start"
							placeholder="Start-Haltestelle" required>
					</div>
				</div>

				<br>
				<div>
					<div class="input-group">
						<span class="input-group-addon">Ziel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<input type="text" class="form-control" name="mfg_anbieten_ziel"
							placeholder="Ziel-Haltestelle" required>
					</div>
				</div>

				<br>
				<div>
					<div class="input-group">
						<span class="input-group-addon">Strecke:&nbsp;&nbsp;</span> <input
							type="text" class="form-control" name="mfg_anbieten_strecke"
							placeholder="Zwischenhaltestelle" required>
					</div>
				</div>

				<br> <span class="input-group-addon"><p
						class="position_links">Datum:</p> <select id="AuswahlTage"
					name="Tag" size="1"></select> <select id="AuswahlMonate"
					name="Monat" size="1"></select> <select id="AuswahlJahre"
					name="Jahr" size="1"></select></span> 
					
					<br> <span
					class="input-group-addon"><p class="position_links">Uhrzeit:</p>
					<select id="AuswahlStunden" name="Stunden" size="1"></select><span>
						:</span> <select id="AuswahlMinuten" name="Minuten" size="1"></select></span><br>

				<!--  
				<div>
					<div class="input-group">
						<span class="input-group-addon">Zeit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<input type="text" class="form-control"  name="mfg_anbieten_zeit" placeholder="z.ß. 12:00" required>
					</div>
				</div>
					-->


				<div>
					<div class="input-group">
						<span class="input-group-addon">Plätze:&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<input type="text" class="form-control"
							name="mfg_anbieten_plaetze" placeholder="max. 10" required>
					</div>
				</div>

				<br>
				<br>
				<button type="submit" class="btn btn-primary">MFG anbieten</button>

			</div>

			} else {
			<div class="box_ortsuche">
				@if(info) {

				<div class="row">
					<br />
					<div class="alert alert-danger">@info</div>
				</div>

				} <br>

			</div>

			}






		</form>
	</article>


	<script>
		(function() {
			
			//Datum einstellen
			var elJahr = document.getElementById('AuswahlJahre'), dc = document
					.createDocumentFragment();

			var jetzt = new Date();
			var jahr = jetzt.getFullYear();
			var bis = jahr + 1;
			
			
			

			//Nur Datum in der Gegenwart und Zukunft werden angenommen
			for (var i = jahr; i <= bis; i++) {
				var option = document.createElement('option');
				option.value = i;
				option.appendChild(document.createTextNode(i));
				dc.appendChild(option);
			}
			elJahr.appendChild(dc);
			
			
			var elMonat = document.getElementById('AuswahlMonate'), dc = document
			.createDocumentFragment();
			
			for (var i = 1; i <= 12; i++) {
				var option = document.createElement('option');
				option.value = i;
				if(i<10) {
					option.appendChild(document.createTextNode("0"+i));
				} else {
					option.appendChild(document.createTextNode(i));
				}
				
				
				
				dc.appendChild(option);
			}
			elMonat.appendChild(dc);
			
			
			var elTag = document.getElementById('AuswahlTage'), dc = document
			.createDocumentFragment();
			
			for (var i = 1; i <= 31; i++) {
				var option = document.createElement('option');
				option.value = i;
				if(i<10) {
					option.appendChild(document.createTextNode("0"+i));
				} else {
					option.appendChild(document.createTextNode(i));
				}
				
				
				
				dc.appendChild(option);
			}
			elTag.appendChild(dc);
			
			elJahr.value = jahr;
			
			var akt_monat = jetzt.getMonth() + 1;
			
			if(akt_monat < 10) {
				elMonat.value = "0" + akt_monat;
				
			} else {
				elMonat.value = akt_monat;
			}
			
			
			var d = new Date();
			var q = d.getDate();
			document.getElementById("AuswahlTage").value = q;
			
			
			//Stunden und Minuten einstellen
			var stunden = document.getElementById('AuswahlStunden'), dc = document
			.createDocumentFragment();
			
			for (var i = 1; i <= 23; i++) {
				var option = document.createElement('option');
				option.value = i;
				if(i<10) {
					option.appendChild(document.createTextNode("0"+i));
				} else {
					option.appendChild(document.createTextNode(i));
				}
				
				
				
				dc.appendChild(option);
			}
			stunden.appendChild(dc);
			
			
			var minuten = document.getElementById('AuswahlMinuten'), dc = document
			.createDocumentFragment();
			
			for (var i = 0; i <= 59; i++) {
				var option = document.createElement('option');
				option.value = i;
				if(i<10) {
					option.appendChild(document.createTextNode("0"+i));
				} else {
					option.appendChild(document.createTextNode(i));
				}
				
				
				
				dc.appendChild(option);
			}
			
			minuten.appendChild(dc);
			
			var akt_stunden = jetzt.getHours();
			
			
			
			
			
			
			var akt_minuten = jetzt.getMinutes();
			if(akt_minuten < 30) {
				minuten.value = 30;
			} else {
				minuten.value = 0;
				akt_stunden = akt_stunden + 1;
			}
			
			
			if(akt_stunden < 10) {
				stunden.value = "0" + akt_stunden;				
				
			} else {
				stunden.value = akt_stunden;
			}
			//minuten.value = akt_minuten;
			
			
		}());
	</script>


	



	@if(message) { @if(typ) {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item"> MFG suchen </a> <a
				href="/anwendung/mfg_anbieten" class="list-group-item active">MFG
				anbieten</a> <a href="/anwendung/mfg_anzeigen" class="list-group-item">Meine MFGs anzeigen<span
				class="badge pull-right">@for(q <- zaehler) { @q.meine_mfgs }
			</span></a>
			<a href="/anwendung/anfragen_index" class="list-group-item">Anfragen<span
				class="badge pull-right"> @for(x <- zaehler) { @x.anfragen }

			</span></a> <a href="#"
				class="list-group-item">Profil</a>
		</div>
	</div>

	} else {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item active"> MFG suchen </a><a
				href="/anwendung/mfg_anzeigen" class="list-group-item">Meine MFGs anzeigen</a> <a href="/anwendung/anfragen_index"
				class="list-group-item">Anfragen<span
				class="badge pull-right">@for(q <- zaehler) { @q.meine_mfgs }
			</span><span
				class="badge pull-right"> @for(x <- zaehler) { @x.anfragen }

			</span></a> <a href="#"
				class="list-group-item">Profil</a>
		</div>
	</div>

	} }