@(title: String)(message: String)(info: String)(typ: String)(anzeige:
List[AnzeigeDetails])(zaehler: List[Zaehler])(facebook: String)

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>@title</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.min.css"
	rel="stylesheet" media="screen">
<link href="/assets/stylesheets/main.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/own.css" rel="stylesheet" media="screen">

<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('article');
	document.createElement('footer');
</script>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>

	<header>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">ProTramp Mitfahrgelegenheit</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Suche</a></li>
						<li><a href="/info">&Uuml;ber uns</a></li> @if(message) {
						<li><a href="/konto/index">Konto</a></li> } else {
						<li><a href="/registrierung">Registrierung</a></li> }

					</ul>

					@if(message) {
					<div class="login_form">
						<!-- <span>Sie sind angemeldet als @message</span> -->
						<form class="form-inline" method="POST"
							action="/benutzerlogin/logout">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2"></label> <a
									class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Willkommen,
									@message</a>&nbsp;&nbsp;&nbsp;&nbsp;
							</div>

							@if(facebook.isEmpty()) {
									<button type="submit" class="btn btn-primary">Logout</button>
								} else {
								
								
								}
						</form>
					</div>
					} else {
					<div class="login_form">
						<!-- Hier ist das Formular fÃƒÂ¼r den Login -->
						<form class="form-inline" role="form" method="POST"
							action="/benutzerlogin/login">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">E-Mail
									address</label> <input type="text" class="form-control"
									id="exampleInputEmail2" name="nutzer"
									placeholder="Email oder Username" required>
							</div>

							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword2">Password</label>
								<input type="password" class="form-control"
									id="exampleInputPassword2" name="kennwort"
									placeholder="Password">
							</div>

							<div class="checkbox">
								<label class="checkbox_login" for="checkbox_login_name">
									<input type="checkbox" name="checkbox_login_name">Speichern&nbsp;&nbsp;
								</label>
							</div>

							<button type="submit" class="btn btn-primary">Einloggen</button>
						</form>
					</div>
					}




				</div>
				<!-- /.nav-collapse -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar -->
	</header>





	<form method="GET" action="/anwendung/mfg_anzeigen"></form>
	@if(message) { @if(typ) {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item active"> MFG suchen <span
				class="badge pull-right"> @for(z <- zaehler){@z.suchergebnisse} </span></a> <a href="/anwendung/mfg_anbieten"
				class="list-group-item">MFG anbieten</a> <a
				href="/anwendung/mfg_anzeigen" class="list-group-item">Meine
				MFGs anzeigen<span class="badge pull-right">@for(q <-
					zaehler) { @q.meine_mfgs } </span>
			</a> <a href="/anwendung/anfragen_index" class="list-group-item">Anfragen<span
				class="badge pull-right"> @for(x <- zaehler) { @x.anfragen }

			</span></a> <a href="/konto/index" class="list-group-item">Mein Konto</a>
		</div>
	</div>

	} else {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item active"> MFG suchen <span
				class="badge pull-right"> @for(z <- zaehler){@z.suchergebnisse} </span></a><a href="/anwendung/mfg_anzeigen"
				class="list-group-item">Meine MFGs anzeigen<span
				class="badge pull-right">@for(q <- zaehler) { @q.meine_mfgs }
			</span>
			</a> <a href="/anwendung/anfragen_index" class="list-group-item">Anfragen<span
				class="badge pull-right"> @for(x <- zaehler) { @x.anfragen }

			</span></a> <a href="/konto/index" class="list-group-item">Mein Konto</a>
		</div>
	</div>

	} }
	</form>


	@if(message) {
	<div class="anzeige_details">

		} else {
		<div class="anzeige_details_2">

			} @if(anzeige.isEmpty()) {
			<p>
			<h3>Keine MFG Eintr&auml;ge gefunden.</h3>
			</p>
			} else {

			<table class="table table-hover">

				<tr>
					<!-- <th>TestID</th> -->
					<th>Start&nbsp;&nbsp;&nbsp;</th>
					<th>Ziel&nbsp;&nbsp;&nbsp;</th>
					<th>Datum&nbsp;&nbsp;&nbsp;</th>
					<th>Uhrzeit&nbsp;&nbsp;&nbsp;</th>
					<th>Abschicken&nbsp;&nbsp;&nbsp;</th>
				</tr>
				<tbody>
					@for( i <- anzeige ){
					<tr>
						<!-- <td>@i.id</td> -->
						<td>@i.start&nbsp;&nbsp;&nbsp;</td>
						<td>@i.ziel&nbsp;&nbsp;&nbsp;</td>
						<td>@i.datum&nbsp;&nbsp;&nbsp;</td>
						<td>@i.uhrzeit&nbsp;&nbsp;&nbsp;</td>
						<td>
							<form method="post"
								action="/anwendung/@i.id/mfg_suchdetails_zeigen">
								<button type="submit" class="btn btn-default">anzeigen</button>
							</form>
						</td>
					</tr>
					}
				</tbody>
			</table>
			}

		</div>
		
<!-- Facebook Login -->

	<div id="fb-root"></div>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId : '1385512941707215',
					status : true,
					cookie : true,
					xfbml : true,
					oauth : true
				});
				
				FB.Event.subscribe("auth.logout", function() {window.location = '/anwendung/FBLogout'})
				
				FB.Event.subscribe('auth.authResponseChange',
						function(response) {

							if (response.status === 'connected') {

								testAPI();
							} else if (response.status === 'not_authorized') {

								FB.login(function(response) {
									  
									   // handle the response
									 }, {scope: 'email'});
							} else {

								FB.login(function(response) {
									
									   // handle the response
									 }, {scope: 'email'});
								
							}
						});
				
				FB.logout(function(response) {
			        // Person is now logged out
					window.load.href = "/anwendung/FBLogout"
			    });
				
				
			};
			
			

			(function(d) {
				var js, id = 'facebook-jssdk', ref = d
						.getElementsByTagName('script')[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement('script');
				js.id = id;
				js.async = true;
				js.src = "//connect.facebook.net/en_US/all.js";
				ref.parentNode.insertBefore(js, ref);
			}(document));

			function testAPI() {
				console.log('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
					document.getElementById("fb_name").value = response.name;
					document.getElementById("fb_emailAdresse").value = response.email;
					document.getElementById("fb_idNr").value = response.id;
					document.getElementById("fb_geschlecht").value = response.gender;
					document.getElementById("fb_birthday").value = response.birthday;
					console.log('Good to see you, ' + response.name + " " + response.birthday + '.');
					
					if(document.getElementById('fb_emailAdresse').value==''){
						
					} else {
						
						document.fb_abschicken.submit();
					}
					
					
					
				});
			}
			
		</script>

	<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->

		@if(message) {
		@if(facebook.isEmpty()) {
			
		} else {
			<div class="fblog_position">
		<fb:login-button show-faces="true" autologoutlink="true" width="200" max-rows="1"
			scope='email, user_birthday'></fb:login-button></div>
		}
	} else {
			<div class="fblog_position">
				<fb:login-button show-faces="true" autologoutlink="true" width="200" max-rows="1"
				scope='email, user_birthday'></fb:login-button></div>
	}



	@if(facebook.isEmpty()) {
	<form name="fb_abschicken" method="POST" action="/anwendung/FB">
		<div class="fb_feld">
			<input type="hidden" id="fb_name" name="fb_name" value="" /> <input
				type="hidden" id="fb_emailAdresse" name="fb_emailAdresse" value="" />
			<input type="hidden" id="fb_idNr" name="fb_idNr" value="" /> <input
				type="hidden" id="fb_geschlecht" name="fb_geschlecht" value="" /> <input
				type="hidden" id="fb_birthday" name="fb_birthday" value="" />
		</div>
	</form>
	} else { }
	
		
</body>
</html>