@(title: String)(message: String)(info: String)(typ: String)(anzeige: List[AnzeigeDetails])

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>@title</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link href="/assets/stylesheets/bootstrap.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/bootstrap-theme.min.css"
	rel="stylesheet" media="screen">
<link href="/assets/stylesheets/main.css" rel="stylesheet"
	media="screen">
<link href="/assets/stylesheets/own.css" rel="stylesheet" media="screen">

<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('article');
	document.createElement('footer');
</script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="../../assets/js/html5shiv.js"></script>
<script src="../../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>

	<header>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="/">ProTramp Mitfahrgelegenheit</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Suche</a></li>
						<li><a href="#">&Uuml;ber uns</a></li> @if(message) {
						<li><a href="#">Konto</a></li> } else {
						<li><a href="/registrierung">Registrierung</a></li> }

					</ul>

					@if(message) {
					<div class="login_form">
						<!-- <span>Sie sind angemeldet als @message</span> -->
						<form class="form-inline" method="POST"
							action="/benutzerlogin/logout">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2"></label> <a
									class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Willkommen,
									@message</a>&nbsp;&nbsp;&nbsp;&nbsp;
							</div>

							<button type="submit" class="btn btn-primary">Logout</button>
						</form>
					</div>
                    }
					 else {
					<div class="login_form">
						<!-- Hier ist das Formular fÃƒÂ¼r den Login -->
						<form class="form-inline" role="form" method="POST"
							action="/benutzerlogin/login">

							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">E-Mail
									address</label> <input type="text" class="form-control"
									id="exampleInputEmail2" name="nutzer"
									placeholder="Email oder Username" required>
							</div>

							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword2">Password</label>
								<input type="password" class="form-control"
									id="exampleInputPassword2" name="kennwort"
									placeholder="Password">
							</div>

							<div class="checkbox">
								<label class="checkbox_login" for="checkbox_login_name">
									<input type="checkbox" name="checkbox_login_name">Speichern&nbsp;&nbsp;
								</label>
							</div>

							<button type="submit" class="btn btn-primary">Einloggen</button>
						</form>
					</div>
                    }




					</div>
					<!-- /.nav-collapse -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.navbar -->
	</header>

	@if(message) { @if(typ) {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item"> MFG suchen </a> <a
				href="/anwendung/mfg_anbieten" class="list-group-item">MFG
				anbieten</a> <a href="/anwendung/mfg_anzeigen"
				class="list-group-item active">Meine MFGs anzeigen</a> <a href="#"
				class="list-group-item">Anfragen</a> <a href="#"
				class="list-group-item">Profil</a>
		</div>
	</div>

	} else {
	<div class="menue_anwendung">
		<div class="list-group">
			<a href="/" class="list-group-item"> MFG suchen </a><a
				href="/anwendung/mfg_anzeigen" class="list-group-item active">Meine
				MFGs anzeigen</a> <a href="#" class="list-group-item">Anfragen</a> <a
				href="#" class="list-group-item">Profil</a>
		</div>
	</div>

	} }


	    @if(anzeige.isEmpty()) {
      <p>Es wurden keine Fahrten gefunden</p>
    }else{
	<div class="anzeige_details">
		<table class="table table-hover">
			<tr><th>Start</th><th>Ziel</th><th>Uhrzeit</th><th>Datum</th></tr>
			@for( i <- anzeige ){
				<tr><td>@i.start</td>
		    		<td>@i.ziel</td>
		    		<td>@i.uhrzeit</td>
		    		<td>@i.datum</td>
		    	</tr>
			}
		</table>
	</div>
	}





</body>
</html>